# Docker files
Dockerfile
.dockerignore

# Git files
.git
.github
**/.gitignore
LICENSE
README.md

# Cargo files
bot/*.rs.bk
bot/target

# Node files
dashboard/node_modules/
dashboard/.cache
dashboard/public/build
dashboard/build
dashboard/public/sounds


# Fly files
fly.toml

# Data
/sounds
/scripts

# Env
.env

# Random
.DS_Store
*.log
