# https://github.com/aquelemiguel/parrot/blob/main/.github/workflows/bump.yml
name: Create Version Bump PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to bump to (e.g. 1.4.3)'
        required: true
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  bump:
    name: Bump version
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'

      - name: Install deps
        run: npm ci
        working-directory: ./dashboard

      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: bot

      - name: Install cargo-bump
        run: cargo install cargo-bump

      - name: Bump Cargo version
        run: cargo-bump bump ${{ github.event.inputs.version }}
        working-directory: ./bot

      - name: Bump Cargo.lock
        run: cargo build
        working-directory: ./bot

      - name: Get latest version
        id: get_version
        run: echo "VERSION=$(cargo pkgid | cut -d# -f2)" >> $GITHUB_OUTPUT
        working-directory: ./bot

      - name: Bump npm version
        run: npm version ${{ github.event.inputs.version }}
        working-directory: ./dashboard

      - name: Create bump PR
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore(project): bump version to ${{ steps.get_version.outputs.VERSION }}'
          title: 'chore(project): bump version to ${{ steps.get_version.outputs.VERSION }}'
          body: |
            Bump version to ${{ steps.get_version.outputs.VERSION }}

            - [x] Bump version in Cargo.toml
            - [x] Bump version in Cargo.lock
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: bump/${{ steps.get_version.outputs.VERSION }}
          base: main
          delete-branch: true
          labels: 'release'
